.cards{
    width:80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1rem;
    margin-top: 4rem;
    height:80vh;
    background: linear-gradient(to right, #b1a2f8, #20BDFF, #94f8bf);
    box-shadow: 5px 10px 10px rgb(153, 145, 145);
}

.cardDetails{
    display: flex;
    flex-direction: column;
    width:80%;
    margin-top: 2rem;
    justify-content: space-evenly;
    border-radius: 2rem;
}

.date{
    border-radius: 1rem;
    text-align: center;
    padding: 1rem 1rem;
    font-size: xx-large;
    width:100%;
    color: black;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: #ff315e !important;
}

.s{
    background-color: white;
    border-radius: .5rem;
    color: black;
    width:100%; 
    margin-bottom: 1rem;
}


.main{
    display: flex;
    flex-direction: column;   
    color: white;   
}

.tiny{
    font-size: 1rem;
    color: white;
}
.cards:nth-child(even) .overflow{
    order:2;
}

.overflow{
    overflow: hidden;
    border-radius: 1rem;
}

.imgCard{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem; 
    transition: all .3s ease-in-out;
}

.imgCard:hover{
    transform: scale(1.1);  
    transition: all .3s ease-in-out;
}

.but{
    transition: all .3s ease-in-out;
}
.but:hover{
    transform: scale(1.1);  
    transition: all .3s ease-in-out;
}
.box{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.color{
    color: #6547ff !important;
}

.loading{
    width: 40%;
    height: 60vh;
    size: 2rem;
    border-radius: 2rem;
}

@media screen and (max-width:1100px){
    .cards{
        display: block;
        height: auto;
        padding-bottom: 2rem;
        width: 90%;
    }
    .loading{
        width: 80%;
        height: 40%;
        margin-bottom: 15rem;
    }
}

@media screen and (max-width:350px){
    .date{
        font-size: x-large;
        display: inline-block;
    }
    .s{
        width:4rem;
    }
    .main{
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
}